.header {
    grid-area: h;
    background-color: navajowhite;
}

.header img {
    width: 80px;
}

.loginBlock {
    float: right;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.nav_link {
    text-decoration: none;
    color: white;
}